@page "/"

<div class="chat-box">
    <FluentStack Orientation="Orientation.Vertical" Width="100%">

        <FluentBodyContent>
            <Chat @ref="ChatRenderer">
            </Chat>
        </FluentBodyContent>


        <ChatInput @ref="ChatInput">

        </ChatInput>

    </FluentStack>
</div>

@code
{
    private Chat? ChatRenderer { get; set; }
    private ChatInput? ChatInput { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && ChatRenderer != null)
        {
            ChatInput?.AttachToChat(ChatRenderer);
        }
    }
}


