@inherits LayoutComponentBase


<FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Top" Class="info-panel" Width="250px">
    <div style="width: 100%;">
        <FluentLabel Typo="Typography.PaneHeader">@Title</FluentLabel>
        </div>
        <FluentButton Appearance="Appearance.Stealth" IconStart="(new Icons.Regular.Size24.Dismiss())">
        </FluentButton>
    </FluentStack>

    <FluentBodyContent>
        @Body
</FluentBodyContent>



@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

}

