@inherits LayoutComponentBase

<FluentStack Orientation="Orientation.Vertical" Class="info-panel control" Width="250px">
  <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Top">
        <div style="width: 100%;">
            <FluentLabel Typo="Typography.PaneHeader">@Title</FluentLabel>
        </div>
        <FluentButton Appearance="Appearance.Stealth">
                <FluentIcon Value="(new Icons.Regular.Size24.Dismiss())" T />
        </FluentButton>
    </FluentStack>

    <FluentBodyContent>@Body</FluentBodyContent>
</FluentStack>


@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

}

