@if (Controller!.UploadedFiles.Any())
{
    <div style="padding:3px 3px;">
        @foreach (var file in Controller.UploadedFiles)
        {
            <AttachmentItemDisplay OnFileDeleted="_fileDeletedHandler" Attachment="file"></AttachmentItemDisplay>
        }
    </div>
}
@code {
    [Parameter]
    public AttachmentService? Controller { get; set; }

    /// <summary>
    /// Removes the deleted attachment from the <see cref="Controller"/>'s UploadedFiles list.
    /// </summary>
    /// <param name="deletedAttachment">The deleted <see cref="AttachmentInfo"></param>
    private void _fileDeletedHandler(AttachmentInfo deletedAttachment)
    {
        Controller!.UploadedFiles.Remove(deletedAttachment);
    }
}
