@page "/"
@inject ChatService Controller;

<FluentHeader Class="chat-header">
    <FluentButton
                OnClick="Controller!.ShowSettings"
                  IconStart="(new Icons.Regular.Size24.SettingsChat())"></FluentButton>
    <FluentSpacer />
    Blazor Chat
    <FluentSpacer />
    <FluentAnchor Href="/swagger" Target="_blank">API</FluentAnchor>
</FluentHeader>


<div class="chat-box">
    <ChatMessageList Controller="Controller">
    </ChatMessageList>

    <ChatInput Controller="Controller">
    </ChatInput>
</div>

<AttachmentManager Controller="Controller">
</AttachmentManager>



@code
{


    protected override async Task OnInitializedAsync()
    {
        attachControllerEvents();
        await Controller.StartChat();
    }

    private void attachControllerEvents()
    {
        Controller.OnStateChange += Controller_OnStateChange;
    }

    public void Controller_OnStateChange(object? sender, bool bs)
    {
        StateHasChanged();
    }

}


