@page "/"

<FluentHeader Class="chat-header">
    <FluentButton OnClick="MainChatComponents.ChatInput!.ShowSettings"
                  IconStart="(new Icons.Regular.Size24.SettingsChat())"></FluentButton>
    <FluentSpacer />
    Blazor Chat
    <FluentSpacer />
    <FluentAnchor Href="/swagger" Target="_blank">API</FluentAnchor>
</FluentHeader>


<div class="chat-box">
    <Chat @ref="MainChatComponents.ChatRenderer">
    </Chat>

    <ChatInput @ref="MainChatComponents.ChatInput" UiComponents="MainChatComponents">
    </ChatInput>
</div>

<AttachmentManager @ref="MainChatComponents.AttachmentManager" UiComponents="MainChatComponents">
</AttachmentManager>



@code
{

    public ChatComponents MainChatComponents { get; set; } = new ChatComponents();

    protected override void OnAfterRender(bool firstRender)
    {

        if (firstRender && MainChatComponents.ChatRenderer != null)
        {
            StateHasChanged();
        }
    }

}


