@page "/"

<FluentHeader Class="chat-header">
    <FluentButton 
        OnClick="ChatInput!.ShowSettings" 
        IconStart="(new Icons.Regular.Size24.SettingsChat())"
    ></FluentButton>
    <FluentSpacer />
    Blazor Chat
    <FluentSpacer />
    <FluentAnchor Href="/swagger" Target="_blank">API</FluentAnchor>
</FluentHeader>

<div class="chat-box">
    <Chat @ref="ChatRenderer">
    </Chat>

    <ChatInput @ref="ChatInput">
    </ChatInput>
</div>

<InfoPanel Title="Hi World">
    <FileInput>

    </FileInput>
</InfoPanel>

@code
{
    private Chat? ChatRenderer { get; set; }
    private ChatInput? ChatInput { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {

        if (firstRender && ChatRenderer != null)
        {
            ChatInput?.AttachToChat(ChatRenderer);
        }
    }
}


