@page "/"
@using PalmHill.BlazorChat.Shared.Models.WebSocket
@inject NavigationManager Navigation;
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage;
@inject IDialogService DialogService;
@inject ThemeControl ThemeControl;

<FluentHeader Class="chat-header">
    <FluentButton
                OnClick="Controller!.ShowSettings"
                  IconStart="(new Icons.Regular.Size24.SettingsChat())"></FluentButton>
    <FluentSpacer />
    Blazor Chat
    <FluentSpacer />
    <FluentAnchor Href="/swagger" Target="_blank">API</FluentAnchor>
</FluentHeader>


<div class="chat-box">
    <Chat Controller="Controller">
    </Chat>

    <ChatInput Controller="Controller">
    </ChatInput>
</div>

<AttachmentManager>
</AttachmentManager>



@code
{

    public ChatController? Controller { get; set; }

    protected override void OnInitialized()
    {
        Controller = constructController();
        _ = Controller.LoadSettings();
    }

    private ChatController constructController()
    {
        var controller = new ChatController(Navigation, LocalStorage, DialogService, ThemeControl);
        controller.OnStateChange += Controller_OnStateChange;
        return controller;
    }

    public void Controller_OnStateChange(object? sender, bool bs)
    {
        StateHasChanged();
    }

}


