@using Microsoft.FluentUI.AspNetCore.Components.DesignTokens
@inherits LayoutComponentBase
@inject BaseLayerLuminance BaseLayerLuminance


<FluentLayout Class="overflow-block">
    <FluentHeader Class="chat-header">
        Blazor Chat
        <FluentSpacer />
        <a href="/swagger" target="_blank">API</a>
    </FluentHeader>

    @Body
</FluentLayout>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentDesignSystemProvider></FluentDesignSystemProvider>

@code {

    public static bool Expanded { get; set; } = true;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await BaseLayerLuminance.WithDefault((float)0.1);

            StateHasChanged();
        }
    }

}
