@inherits LayoutComponentBase
<FluentLayout Class="overflow-block">
    <FluentHeader Class="chat-header">
        Blazor Chat
        <FluentSpacer />
        <a href="/swagger" target="_blank">API</a>
    </FluentHeader>

    @Body
</FluentLayout>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />


@code{

    public static bool Expanded { get; set; } = true;

}