@inherits LayoutComponentBase
<FluentLayout Class="overflow-block">
    <FluentHeader>
        Blazor Chat
        <FluentSpacer />
        <a href="https://github.com/edgett/PlamHill.BlazorChat">Github</a>
    </FluentHeader>

    @Body
</FluentLayout>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />


@code{

    public static bool Expanded { get; set; } = true;

}