@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@using Markdig
@inject ApiClient.BlazorChatApi BlazorChatApi;

@inherits FluentComponentBase

<div class="chat-messages">
    @foreach (var mr in Controller!.WebsocketChatMessages)
    {
        <FluentCard>
            <FluentStack>
                <div>
                    <FluentIcon Value="@(new Icons.Regular.Size24.PersonChat())" />
                </div>

                <div>
                    <span>@mr.Prompt</span>
                </div>
            </FluentStack>

        </FluentCard>

        <FluentCard>
            <FluentStack>
                <div style="position:relative;">
                    <FluentIcon Value="@(new Icons.Regular.Size24.LightbulbPerson())" />

                    <FluentProgressRing Visible="!mr.IsComplete"
                                        Style="height:24px; width:24px; position:absolute; top:0px; left:0px;"></FluentProgressRing>
                </div>

                <div>
                    <ModelMarkdown ModelResponse="@mr"></ModelMarkdown>
                </div>
            </FluentStack>

        </FluentCard>
    }

    <div style="height:125px"></div>
</div>



@code
{

    [Parameter]
    public ChatService? Controller { get; set; }

}
